/* Body Style */

body{
    max-width: 95%;
    margin: 10px;

    text-shadow: 1px 1px 2px lightgray;
    color: darkslategray;
}

/* App Style */

#app {
    width: 100%;
    margin: auto;

    text-align: center;
}

#app h2 {
    font-size: large;
    font-style: italic;
}

/* Table Style */

table {
    margin: auto;
    border-collapse: collapse;
    font-size: x-small;
}

th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #050505;
    padding: 5px;
}

td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #050505;
    padding: 3px;
}