body {
    margin: 20px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
  }

.main-container {
    height: 1000px;

    display: flex;
    background-color: #efefef;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; 
    align-items: center; 
}

.buttom-container {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
    align-items: center; 
}

svg {
    margin: 10px;
    background-color: #ffffff;

    border-radius: 8px;
    border: #bfbfbf solid 1px;

    height: 800px;
    width: 1000px;
}

circle {
    stroke: #006A71;
    stroke-width: "3";
    fill: #9ACBD0;
}

button {
    margin: 10px;
}