/*--------------------------------------------------
// Exemplo 01 --------------------------------------
// Definição de estilo pelo tipo de elemento
//--------------------------------------------------*/
body {
    margin: 10px;
    font-size: 20px;
}
div {
    margin: 10px;
}
/*--------------------------------------------------*/



/*--------------------------------------------------
// Exemplo 02 --------------------------------------
// Definição de estilo pelo identificador
//--------------------------------------------------*/
#d1 {
    color: #dd2271
}
/*--------------------------------------------------*/



/*--------------------------------------------------
// Exemplo 03 --------------------------------------
// Definição de estilo pela classe
//--------------------------------------------------*/
.div-especial {
    background-color: darkgray;
}
/*--------------------------------------------------*/



/*--------------------------------------------------
// Exemplo 04 --------------------------------------
// Definição de estilo avançadas
//--------------------------------------------------*/
body > p {
    font-weight: 700;
}
#d1 p {
    font-style: italic;
}
body > p {
    font-weight: 700;
}
#p1 ~ p {
    text-transform: uppercase;
}
p[title] {
    text-align: right;
}
/*--------------------------------------------------*/
